@model IEnumerable<CapsuleCorp.Models.Turno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paciente.apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.turnoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.turnoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.turnoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
